* { margin:0; padding:0; border:0;}
body { background-image: url("../img/login_1.png");
        background-size:cover;
        font-family: "微软雅黑",Arial,"宋体",sans-serif; font-size:14px;

}
.e1000_register_content{
    width: 400px;
    height: 300px;
    background: #edf0f3;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
}

.title{
    font-size: 1.4rem;
    line-height: 3.1rem;
    flex:100%;
    background: #F6F8FA;
    text-align: center;
    color: #0C0C0C;
    padding: 10px 32px 8px 16px;
}
.subtitle{
    font-size: 1.0rem;
    line-height: 2.3rem;
    background: #F6F8FA;
    color: #0C0C0C;
    flex:100%;
    text-align: center;
    padding: 0 8px 16px;
}

.e1000_register_form{
    padding-top: 12px;
}

.e1000_register_gl{
    margin-left: 43%;
    color: blue;
}

.layui-form-label{
    width: 85px;
}
.layui-input{
    height: 34px;
}


